p= link_to "Main", questions_path
h1= "Show question"

h3= "Title: #{@question.title}"
p
  b= "Body_Question: #{@question.body}"
h1= "Create answer"

== render 'answers/new', resource: @question

h2= "Show answers"
- if @question.answers
    ol
      == render @question.answers




